####
# django app
DEBUG=True
IS_LOGGING=True

# app
DJANGO_APP=Test Tube Scanner
APP_TITLE=Scanner de tubes à essais
APP_SUB_TITLE=(c) dd pour Champollion Albi

LANGUAGE_CODE=fr-FR
LOCALE_CODE=fr_FR
LOCALE_LC_ALL=fr_FR.UTF-8
TIME_ZONE=Europe/Paris

DATAS=
APP_DATAS=test_tube_scanner

EXPORTS_LOCAL_PATH=/home/rpi4/exports
EXPORT_REMOTE_PATH=/mnt/exports
REDUCTSTORE_PATH=/home/rpi4/medias

####
# django email
#
DEFAULT_TO_EMAIL=postmaster@mysite.net
DEFAULT_FROM_EMAIL=postmaster@mysite.net
DEFAULT_EMAIL_CONTACT=postmaster@mysite.net

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=ssl0.ovh.net
EMAIL_PORT=587
EMAIL_HOST_USER=xxx@yyy.net
EMAIL_HOST_PASSWORD=123456
EMAIL_USE_TLS=True

LOGGING_FILE=test_tube.log
SECRET_KEY="django-insecure-0)4_w=pjv1ex7=s=c=ii3g@fx_=8fb=hxk€3bpk1)uj(0ph0t)"
USER=rpi4
GROUP=rpi4

DOMAIN_SERVER=scanner.local
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

####
# server app
SERVER_HOST_IP=0.0.0.0
SERVER_HOST_PORT=8000

####
# redis
#
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

####
# database: sqlite3 | mariadb | postgrey
#
# sqlite3
SQLITE3=None
SQLITE3_PATH=

# mariadb
MARIADB=default
DATABASE_MARIADB_HOST=127.0.0.1
DATABASE_MARIADB_PORT=3306

# postgrey
POSTGRES=None
DATABASE_POSTGRES_HOST=127.0.0.1
DATABASE_POSTGRES_PORT=5432

####
# database
#
DATABASE_ROOT_PASSWORD=planaire
DATABASE_NAME=test_tube
DATABASE_USER=test_tube
DATABASE_PASSWORD=planaire

####
## reductstore
#
REDUCTSTORE_TOKEN=scanner-78edf4db-5cba-4bb0-9787-003587f75e9c
REDUCTSTORE_HOST=127.0.0.1
REDUCTSTORE_PORT=8383

####
# default login:pass
#
SUPERADMIN=superadmin
SUPERADMIN_PASS=superadmin
SUPERADMIN_MAIL=superadmin@scanner.local


