<div class="w3-modal" id="imagemodal" style="z-index: 200;">
	<div class="w3-modal-content w3-border w3-dark-medium" style="max-width: 640px">
		<button onclick="sId('imagemodal').style.display='none'" class="w3-button w3-round w3-round-xxlarge w3-text-red w3-display-topright w3-xlarge">&#x2716;</button>
        <div class="w3-card-4">
            <div class="w3-bar w3-dark-xlight" style="padding-right: 4em">
                <span class="w3-bar-item" id="imagepreview-uuid"></span>
                <span class="w3-bar-item" id="imagepreview-ts"></span>
                <span class="w3-bar-item w3-right" id="imagepreview-index"></span>
            </div>
            <img id="imagepreview" style="width: 100%">
        </div>
	</div>
</div>

