<div class="slider-container" id="scannerSlider">
    <div class="display-range w3-small w3-margin-bottom"></div>
    <div class="range-wrap slider" data-min="1680307200" data-max="1680998400">

      <div class="track"></div>
      <div class="range-highlight"></div>
      <input class="min-range" type="range" min="1680307200" max="1680998400" value="1680307200" step="100" aria-label="valeur minimale">
      <input class="max-range" type="range" min="1680307200" max="1680998400" value="1680998400" step="100" aria-label="valeur maximale">
    </div>
    <div class="w3-row w3-margin-top">
		<div class="w3-half">
		      <span>Min (ms)</span>
		      <input class="min-number" type="number" min="1680307200" max="1680998400" value="1680307200" step="100">
		</div>
		<div class="w3-half w3-right-align">
		      <span>Max (ms)</span>
		      <input class="max-number" type="number" min="1680307200" max="1680998400" value="1680998400" step="100">
		</div>
    </div>
</div>


