
<div class="scanner w3-row">
    {% if use_tracking %}
    <div class="w3-col w3-small" style="width:180px">
        <div>Num: <span id="_count"></span></div>
        <div>Aire: <span id="_area_px"></span></div>
        
        <div>cx: <span id="_cx"></span></div>
        <div>cy: <span id="_cy"></span></div>
        <div>V: <span id="_speed_px_s"></span> px/s</div>
        <div>V.Ax: <span id="_axial_speed"></span> px/s</div>
        <div>Ax pos: <span id="_axial_pos"></span></div>
    </div>
    {% endif %}
    <div class="w3-rest">
        <img id="scan-img" class="w3-image">
    </div>
</div>