{% extends 'dashboard/base.html' %}
{% load  i18n %}

{% block main_content %}
<div class="w3-black w3-border w3-div-center" style="margin: 10em; height: 20em">
    {% block main-bar %}
    <div class="w3-orange">
        <div class="w3-bar">
            <div class="w3-bar-item">{% block bar-title %}{% trans "System error" %}{% endblock %}</div>
            <div class="w3-right">
                <a href="/" class="w3-bar-item w3-button w3-right">&times;</a>
            </div>
        </div>
    </div>
    {% endblock %}
    <h4 class="w3-padding">
        {% trans "This page server can't run correctly.<br>Please contact the site administrator." %}
        <h6 class="w3-margin">{{ error }}</h6>
    </h4>
</div>
{% endblock %}


