django
pillow
django-timezone-field
django-resized
django-colorfield
django-celery-beat
django-celery-results
channels[daphne]
channels-redis
twisted[tls,http2]
celery[redis]
python-decouple
PyYaml
reduct-py
python-dateutil
psutil
posix_ipc
opencv-python-headless
mysqlclient
psycopg2
pyserial
