
.multiwell_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center; 
  align-items: center; 
}

button.multiwell {
    padding: 0.2em ;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 4), 1fr);
    gap: 0.5em;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    justify-items: center;
    align-items: center;

}
