

.container {
  height: 100%;
  padding: 0.25em;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 64px 0.5fr;

  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "scan scanner"
}
.header {
  align-self: stretch;
  grid-area: header;
}

.scanner {
  justify-self: center;
  align-self: center;
  grid-area: scanner;
}

.scan {
  align-self: start;
  grid-area: scan;
}
